body {
  background: #e0e0e0;
  text-align: center;
  min-height: 100vh;
  display: block;
  font-family: sans-serif;
  padding: 1em;
  font-size: 1.2em;
  line-height: 120%;
}

.heading, .subheading {
  padding: 20px;
  color: black;
  text-align: center;
}

.subsubheading {
  padding: 5px;
  border-radius: 5px;
  background: #990000;
  margin: 1em 15vw;
  color: white;
}

.logo {
  height: 10em;
}

form {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    padding: 2em;
}

.value-element {
  font-weight: bold;
}

.hidden {
    display: none;
    height: 0px;
    font-size: 0.1em;
    color: rgba(0, 0, 0, 0);
}

div.chart-container {
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div.chart-container-outer {
    overflow-x: scroll;
    margin: 0vw 10vw;
}
