body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar .username {
  color: #337AB7;
}

.login-user {
  max-width: 400px;
}

.change-password {
  max-width: 400px;
}

.forgot-password {
  max-width: 400px;
}

.reset-password {
  max-width: 400px;
}

.error {
  color: red;
}
